$blackColor: #000000;
$errorColor: #F56C6C;
$primaryColor: #317CAF;
$paddingItem: 4px 7px;
.v3ti {
  border-radius: 5px;
  min-height: 32px;
  line-height: 1.4;
  background-color: #fff;
  border: 1px solid #9ca3af;
  cursor: text;
  text-align: left;
  -webkit-appearance: textfield;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &--focus {
    outline: 0;
    border-color: $blackColor;
    box-shadow: 0 0 0 1px $blackColor;
  }

  &--error {
    border-color: $errorColor;
  }

  .v3ti-no-data {
    color: #d8d8d8;
    text-align: center;
    padding: $paddingItem;
  }

  .v3ti-loading {
    padding: $paddingItem;
    text-align: center;
  }

  .v3ti-context-menu {
    max-height: 150px;
    min-width: 150px;
    overflow: auto;
    display: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 5px 0;
    background: #ffffff;
    z-index: 1050;
    box-shadow: 0 3px 8px 2px rgba(0, 0, 0, .1);
    border-radius: 0 0 6px 6px;

    .v3ti-context-item--active {
      color: $primaryColor;
    }

    .v3ti-context-item {
      padding: $paddingItem;

      &:hover {
        background: #e8e8e8;
        cursor: pointer;
      }
    }
  }

  .v3ti-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &--select {
      padding-right: 30px;
    }
  }

  .v3ti-tag {
    display: flex;
    font-weight: 400;
    margin: 3px;
    padding: 0 5px;
    background: $primaryColor;
    color: #ffffff;
    height: 27px;
    border-radius: 5px;
    align-items: center;

    .v3ti-remove-tag {
      color: #ffffff;
      transition: opacity .3s ease;
      opacity: .5;
      cursor: pointer;
      padding: 0 5px 0 7px;

      &::before {
        content: "x";
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  .v3ti-new-tag {
    background: transparent;
    border: 0;
    font-weight: 400;
    margin: 3px;
    outline: none;
    padding: 0 4px;
    flex: 1;
    min-width: 60px;
    height: 27px;

    &--error {
      color: $errorColor;
    }
  }
}